
body {
  margin: 0;
  background-color: #333333;
  height: 100%;
  overflow: hidden;
  filter:drop-shadow();
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
.section  {
  perspective: 1600px;
  perspective-origin: center;
}


.labeltext{
  font-size: 30px;
font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 0.8);
text-shadow:1px 1px 10px rgba(0,255,255,0.8);
  z-index: 2;
}

.subtext{
  font-size: 20px;
font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.subtext:hover{

  text-shadow:1px 1px 10px rgba(255,255,255,0.8);
}


.container {
  width: 65%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
    transition: 0.3s;
}

.containertext {
  width: 100%;
  z-index: 0;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: rotateX(30deg) rotateZ(-30deg) rotateY(10deg) translate3d(-100px, 150px,0px);
  transform-style: preserve-3d;
}


.container-origin {
  transform: rotate(0);

}
img {
  width: 100%;
  display:block;
}
.card {
  width: 35vh;
  height: 35vh;
  display: block;
  overflow: hidden;
  margin: 0.1cm;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 1vh;
}
.card:hover {
  cursor: pointer;
  transform: translateZ(3vh) rotateX(-5deg) ;
  box-shadow: 0 0 120px rgba(147,212,255,0.8);
}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    z-index: 2;

}
.navbar ul {
 display: inline-flex;
 align-items: center;
 justify-content: center;
 list-style: none;
 width: 95%;
 /* whatever width you want can be 100% */
}
/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 8px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: rgba(255,255,255,0.5);
  color: black;
  background-color: rgba(50, 50, 50, 0.3);
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 8px;
}
